body {
  margin: 0;
  padding: 0 10px;
  background-color: #454545;
  color: #bdbdbd;
  user-select: none;
}

#app {
  width: 100%;
  height: 100%;
}

.title {
  height: 24px;
  font-size: 18px;
  font-weight: 800;
  margin: 15px 0;
}

.container {
  border: 1px solid #666;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  outline: 0;
  display: flex;
  flex-direction: column;
}

.container > * {
  margin: 2px 0;
}

.container:first-child {
  margin-top: 0;
}

.container:last-child {
  margin-bottom: 0;
}

.property {
  width: 100%;
  height: 23px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.property > .label {
  width: 35%;
  min-width: 70px;
  margin-left: 5px;
  font-size: 12px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: baseline;
  justify-content: flex-start;
}

.property:hover > .label > .text {
  color: #09f;
}

.property:focus-within > .label > .text {
  color: #fd942b;
}

/* tooltip */
.tooltip {
  background-color: #333333;
  padding: 5px 8px;
  border: 1px solid #646464;
  border-radius: 4px;
  position: relative;
  top: -26px;
  left: -40px;
  visibility: hidden;
  text-align: center;
  z-index: 2;
}

/* tooltip 三角形 */
.tooltip::before,
.tooltip::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  position: absolute;
  left: 10px;
  transform: rotate(-90deg);
}

/* tooltip 三角形 */
.tooltip::before {
  border-right: 6px solid #333333;
  top: 100%;
}

/* tooltip 三角形边框 */
.tooltip::after {
  border-right: 6px solid #646464;
  top: calc(100% + 1px);
  z-index: -1;
}

*:hover + .tooltip {
  visibility: visible;
}

.property > .content {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.property > .content > * {
  height: 21px;
  width: auto;
  min-width: 20px;
  flex: 1;
}

.property > .content > *:focus {
  border-color: #fd942b;
}

select {
  background-color: #2e2e2e;
  padding: 0 5px;
  border: 1px solid #171717;
  border-radius: 100px;
  outline: none;
  font-size: 12px;
  color: #bdbdbd;
  cursor: pointer;
}

select:hover {
  border-color: #888888;
}

input {
  background-color: #262626;
  padding: 0 5px;
  border: 1px solid #171717;
  border-radius: 3px;
  color: #fd942b;
  outline: none;
}

input::placeholder {
  font-size: 11px;
  font-style: italic;
}

input[type='checkbox'] {
  appearance: none;
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  background-image: none;
  background-color: #262626;
  border: 1px solid #171717;
  border-radius: 3px;
  position: relative !important;
  flex: 0 !important;
  margin: 0;
  padding-left: 0;
  color: #fd942b;
  outline: none;
  cursor: pointer;
}

input[type='checkbox']:checked::after {
  width: 12px;
  height: 12px;
  content: '';
  display: inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAArUlEQVQoU5WSvQ3CMBBG7zNMg2GMUKSHGaLAOEFihtBTsYXjlKxAmwL5kO3EMfkRwaX1nu6dZdCfB0t5LnYpzuq+SDCXbcnMqQH2P4UWPtgSEGkn8FVuyIgGuXrGiSN4TUdYmN9UMnEjxCpBrl5WmoQzXcMUsmIi6UYCD3GqkjnYMf2EIN2YuW+2GZmuu9Swg8/yUlhwALf3HognudeYgL+EWJqDR0Inxc3Dn/ABm5JqgPxa2tYAAAAASUVORK5CYII=);
  background-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:hover {
  border-color: #888888;
}

.tip {
  width: 100%;
  height: 50px;
  background: #333;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 5px 8px;
  box-sizing: border-box;
  color: #bdbdbd;
  font-size: 13px;
  line-height: 40px;
  white-space: normal;
}

a {
  color: #fd942b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #666;
  margin: 5px 0;
}

.apply-btn {
  min-width: 20px;
  height: 33px;
  background-image: linear-gradient(#4281b6, #4281b6);
  border: 1px solid #171717;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.apply-btn:hover {
  background-image: none;
  background-color: #4c87b6;
}

.apply-btn:active {
  background-image: none;
  background-color: #2e6da2;
  border-color: #fd942b;
  color: #cdcdcd;
  box-shadow: 1px 1px 10px #262626 inset;
}
